<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>blueandred.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4FF874D91C7E817B00FD7540</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FF874ED1C7E817B00FD7540</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FF874F81C7E817B00FD7540</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
